;; shadow-cljs configuration
{:source-paths
 ["cljs/src/dev"
  "cljs/src/main"
  "cljs/src/test"]

 :dependencies
 []

 :builds
 {
  ;; build for ES Module flavor
  :lib {:target :esm
        :output-dir "compiled/js"
        :optimizations :none
        :modules {:demo {:exports {say core/say}}}}
  
  ;;build for common-js flavor, not really working well
  :lib-2 {:target :node-library 
          :output-to "lib2.js"
          :optimizations :none
          :exports-var core/lib}}}
